#homepage {
    height: 100vh;
    background-image: url("../images/gymbg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.9s ease-in-out;
}

#homepage.active {
    filter: blur(6px) brightness(30%);
}

#imagediv.moveup {
    transform: translateY(20px);
    opacity: 1;
}

/* */
.imagediv {
    width: 100%;
    height: auto;
    display: none;
}

.imagediv:hover {
    transform: scale(1.025);
}

.imagediv img {
    width: 100%;
    height: auto;
}

.imageandtextcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageandtextcontainer p {
    padding: 0px 40px;
    text-align: left;
    line-height: 2;
}

.imageandtextcontainer h2 {
    padding: 0px 40px;
    text-align: center;
}

.aboususdetailtext {
    padding: 30px 0px;
    margin: 0px 10px;
    font-size: 1.2rem;
}

.aboususdetailtext{
    width: 95%;
}

.aboutustextcontainer:hover {
    transform: scale(1.025);
}

.headingtext {
    width: 95%;
    font-size: 1.2rem;
}

.gyminfocontainer {
    display: flex;
    flex-direction: column;
    background-color: #e1193e;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 40px 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    transition: 0.9s ease-in-out opacity;
    box-shadow: 6px 6px 8px -3px;
}

.gyminfocontainer.moveup {
    opacity: 1;
}

.infoblock p {
    color: white;
    font-size: 1.3rem;
}

.infoblock {
    transform: skewX(0deg);
}

.numplus p {
    font-size: 2.5rem;
}

.aboutusbutton2 a {
    display: inline-block;
    color: white;
    transform: skewX(25deg);
}

.aboutustextcontainer .aboutusbutton2 {
    transform: skewX(-25deg) translateY(-20px);
    margin-bottom: 10px;
}

.aboutusbutton2 {
    display: inline-block;
    background-color: #e1193e;
    padding: 15px 15px;
    transform: skewX(-25deg);
    transition: background-color 0.3s ease-in-out;
}

.aboutustextcontainer .aboutusbutton2:hover {
    background-color: #262626;
}

.aboutusbutton2:hover a {
    transform: skewX(25deg);
}


.aboutustextcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    transition: 0.3s all ease-in-out;
}

.gyminfoandaboutus {
    transform: translateY(30%);
    transition: 0.9s all ease-in-out;
    opacity: 0;
}

.headingtextinner {
    margin-top: 80px;
}

.numplus {
    text-align: center;
}




.aboutusbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    height: 46px;
    width: 25%;
    border: 1px solid #e1193e;
    background: #e1193e;
    text-align: center;
    transition: all 0.8s ease;
}

.aboutusbutton:hover::after {
    cursor: pointer;
    background-color: #262626;
    text-decoration: underline;
    color: white;
}

.aboutusbutton::after {
    position: absolute;
    content: '';
    width: 208px;
    height: 47px;
    background-color: #e1193e;
    transform: skew(-25deg);
    transition: all 0.7s ease-in;
}

.aboutusbutton a {
    z-index: 10;
    color: white;
    font-size: 16px;
}

.service {
    background: url("../images/image2blur.jpg") no-repeat;
    background-position: fixed;
    background-attachment: fixed;
    background-size: auto;
}

.serviceinner {
    margin-top: 0px;
    width: 100%;
    padding-bottom: 220px;
    transform: translateY(40%);
    opacity: 0;
    transition: 0.9s all ease-in-out;
}

.serviceinner.active {
    transform: translateY(0%);
    opacity: 1;
}

.service p {
    text-align: center;
    color: white;
    pointer-events: none;
}

.service h2 {
    text-align: center;
    color: white;
    pointer-events: none;
    text-transform: capitalize;
}

.service h1 {
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-size: 2.5rem;
}

.service h2 {
    font-size: 1.5rem;
}

.service img {
    width: 50px;
    height: 50px;
}

.servicelist {
    transform: translateY(15%);
    opacity: 1;
    transition: 0.9s all ease-in-out;
}

.servicelist.active {
    transform: translateY(0%);
    opacity: 1;
}

.servicelistitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.serviceitemcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    gap: 30px;
    transition: all 0.2s ease-in-out;
    padding: 0px 10px;
}

.serviceheading {
    padding: 30px 0px;
    transform: translateY(100%);
    transition: all 0.9s ease-in-out;
}

.serviceheading.active {
    transform: translateY(0%);
}

.servicelogo {
    margin-bottom: 20px;
}

.serviceitemcontainer:hover {
    transform: scale(1.055);
}

.serviceitemcontainer:hover h2 {
    text-decoration: underline;
}

.servicebtn {
    height: 30px;
    width: 100px;
    background-color: #e1193e;
    text-align: center;
    padding-top: 4px;
}






.promotion {
    background: linear-gradient(-54deg, #262626 50%, #e1193e 50%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.promotioninfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    transition: 0.3s ease-in-out all;
}

.promotext {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#promotion1:hover {
    transform: scale(1.025);

}

.promotionimage {
    transition: 0.3s ease-in-out all;
    display: none;
}

.promotionimage:hover {
    transform: scale(1.025);
}

.promotionimage img {
    width: 100%;
    height: auto;
    margin: 50px 0px;
}

.promotext h1 {
    padding: 0px 20px;
    font-size: 3.5rem;
    text-align: center;
}

.promotext p {
    padding: 0px 20px;
    text-align: center;
    font-size: 1.3rem;
}









.price {
    background-color: #262626;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 70px;
}

.pricecard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.innerpriceheading h1 {
    font-size: 2.5rem;
    text-align: center;
}

.innerpriceheading {
    padding-top: 25px;
    padding-bottom: 100px;
}

.pricecardinner h3 {
    text-align: center;
    font-size: 1.5rem;
}

.pricecardinner h1 {
    font-size: 2rem;
}

.benefitlist {
    text-align: left;
    margin: 10px 0px;
    padding: 5px 0px;
}

.pricecardinner {
    display: flex;
    background-color: #262626;
    flex-direction: column;
    padding: 30px 70px;
    gap: 60px;
    transition: 0.3s ease-in-out all;
    /* background:linear-gradient(120deg ,#e1193e 10%,rgb(0, 0, 0) 80%); */
}

.pricecardinner:hover {
    background-color: #e1193e;
    border-radius: 10px;
    transform: scale(1.025);
    box-shadow: 6px 6px 8px -3px rgba(0, 0, 0, 0.5);
}

.pricecardinner:hover .upperhalf h1 {
    border: 3px solid #262626;
}

.pricecardinner:hover .aboutusbutton2 {
    background-color: #262626;
}

.upperhalf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.lowerhalf {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.upperhalf h1 {
    border-radius: 50%;
    border: 2px solid #e1193e;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lowerhalf ul li {
    list-style: circle;
}





.bmi {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    background: url("../images/bmibackground.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    color: white;
}

.bmi p {
    pointer-events: none;
}

.bmi label {
    pointer-events: none;
}

.bmiheading {
    margin-bottom: 50px;
    font-size: 2.5rem;
}

.bmi-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.bmibtn {
    display: flex;
    gap: 5px
}

.bmiform {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.bmiformcontainer {
    /* background:linear-gradient(-45deg, #e1193e 50%,#262626 50%); */
    background-color: #262626;
    border-radius: 10px;
    box-shadow: 6px 6px 3px 2px black;
    padding: 30px;
}

.bmibtn .aboutusbutton2 {
    transform: skewX(0deg);
    transition: 0.7s all ease-in-out;
    color: white;
    box-shadow: 3px 3px 8px 0px black;
}


.row .aboutusbutton2 {
    transform: skewX(0deg);
    transition: 0.7s all ease-in-out;
    color: white;
}

.bmi .aboutusbutton2{
    cursor: pointer;
}

#submit{
    box-shadow: 3px 3px 8px 0px black;
}

#row2 {
    display: flex;
    flex-direction: column;
}

#row3 {
    display: flex;
    gap: 50px;
}

.bmi input {
    height: 50px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: none !important;
    outline: none;
    color: white;
    font-size: 1rem;
}

.inputcontainer {
    display: flex;
    gap: 50px;
}

.row3 .aboutusbutton2 {
    transform: skewX(-25deg);
}

.inputcontainer input {
    width: 50%;
}

#row2 input {
    width: 100%;
}
#display{
    padding-top: 10px;
}
#row2 .inputcontainer{
    padding-top: 10px;
}
.bmi .inputcontainer{
    transition: 0.3s ease-in-out all;
}
.bmioutput input{
    display: none;
}




#promotion{
    transform: translateY(40%);
    opacity: 0;
    transition: all 1s ease-in-out;
}
#promotion.active{
    transform: translateY(0%);
    opacity: 1;
}
#promotion1{
    transform: translateY(40%);
    opacity: 0;
    transition: all 1s ease-in-out;
}
#promotion1.active{
    transform: translateY(0%);
    opacity: 1;
}
#price{
    transform: translateY(35%);
    opacity: 0;
    transition: all 1s ease-in-out;
}
#price.active{
    transform: translateY(0%);
    opacity: 1;
}
#bmicontainer{
    transform: translateY(35%);
    opacity: 0;
    transition: all 1s ease-in-out;
}
#bmicontainer.active{
    transform: translateY(0%);
    opacity: 1;
}
#bmihead{
    text-align: center;
    transform: translateY(35%);
    opacity: 0;
    transition: all 1s ease-in-out;
}
#bmihead.active{
    transform: translateY(0%);
    opacity: 1;
}






.footer{
    text-align: center;
    background-color: #262626;
}
.footer a{
    color: white;
}
.footer h2{
    color: white;
}
.footer ul li{
    color: white;
}
.footerinner{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footerinner .footeritem{
    padding: 30px 0px;
}
.footerinner .quicklinkhead{
    pointer-events: none;
    font-size: 1.2rem;
    padding: 50px 0px ;
}
.footerinner li:hover{
    text-decoration: underline;
}
.qlinklist{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footericonlist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}
.ouremaillist{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ourphonenumber{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.contactusemail{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.emailinput input{
    height: 50px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: none !important;
    outline: none;
    color: white;
    font-size: 1rem;
}
.emailinput{
    padding: 0px 0px 30px 0px;
}
.submitbtn{
    transition: all 0.9s ease-in-out;
}
.footer .aboutusbutton2:hover{
    background-color: #262626;
}
.ourphonenumber li:hover{
    cursor: pointer;
}
#footeritem3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footeritem .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.footer #fbsvg{
    width: 27px;
    height: 27px;
}

.footer #twsvg{
    width: 30px;
    height: 30px;
}

.footer #instasvg{
    width: 30px;
    height: 30px;
}
.footer #githubsvg{
    width: 30px;
    height: 30px;
}
#github path{
    fill: white;
}
.footer #gplussvg{
    width: 30px;
    height: 30px;
}
#gplussvg path{
    fill: white;
}