.center{
    /* display: none; */
    /* font-family:; */
    position: fixed;
    top: -23%;
    left: 90%;
    transform: translate(-50%,-50%);
    width: 0px;
    border-radius: 10px;
    background-color: #e1193e;
    width: 0px;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease;
}

.center.active{
    top: 50%;
    left: 50%;
    opacity: 1;
    z-index: 1000;
    width: 320px;
}

.navbarsignin{
    transition: 2s;
}
.navbarsignin::after{
    transition: 2s;
}
.navbarsignin.active{
    opacity: 0;
}
.navbarsignin::after.active{
    opacity: 0;
}
.center::after{
    position: absolute;
    top: -2px;
    left: -96px;
    content: '';
    width: 562px;
    height: 433px;
    transform: skew(-25deg);
    background-color: #262626;
    z-index: -1;
    box-shadow: 0px 7px 29px 2px    ;
    transition: all 2s ease-in-out;
}
.center h1{
    text-align: center;
    color: white;
    padding: 30px 0 20px 0;
    border-bottom: 1px solid silver;
    pointer-events: none;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .text-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.text-field input{
    width: 100%;
    padding: 0px 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: white;
    caret-color: white;
}
.text-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-80%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.text-field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0px;
    width: 0%;
    height: 2px;
    background: #e1193e;
    transition: 0.5s;
}
.text-field input:focus ~ label , .text-field input:valid ~ label{
    top: -4px;
    color: #e1193e;
    font-size: 14px;
}
.text-field input:focus ~ span::before , .text-field input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
    transition: 0.7s ease color;
}
.pass:hover{
    text-decoration: underline;
    color: #e1193e;
}
.center .submitbtn{
    width: 100%;
    height: 50px;
    border: 1px solid #e1193e ;
    background: #e1193e;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    color: white;
    z-index: 100;
    /* transform: skew(-25deg); */
}

.center .submitbtn:hover{
    border-color: #e1193e;
    transition: 0.5s;
}
.signuplink{
    margin: 30px 0;
    text-align: center;
    font-size: 15px;
    color: #666;
}
.notamember{
    pointer-events: none;
}
.signuplink a{
    font-size: 16px;
    color: white;
    font-weight: 100;
    text-decoration: none;
    transition: 0.7s ease color;
}
.signuplink a:hover{
    color: #e1193e;
}

.signincross .bar:nth-child(1){
    transform: translateY(0px) rotate(45deg);
}
.signincross .bar:nth-child(2){
    transform: translateY(-8px) rotate(-45deg);
}
.signincross{
    position: absolute;
    top: -26%;
    right: -175%;
    cursor: pointer;
    opacity: 1;
    transition: 0.9s all;
}
.signincross.active{
    opacity: 0;
}
.signincross .bar{
    width: 35px;
}
.center::after.active{
    width: 0px;
}